################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParseEdifact/.vs/ParseEdifact/v16
/ParseEdifact/ParseEdifact/bin/Debug/netcoreapp3.0
/ParseEdifact/ParseEdifact/obj/Debug/netcoreapp3.0/ParseEdifact.pdb
/ParseEdifact/ParseEdifact/obj/Debug/netcoreapp3.0/ParseEdifact.exe
/ParseEdifact/ParseEdifact/obj/Debug/netcoreapp3.0/ParseEdifact.dll
/ParseEdifact/ParseEdifact/obj/Debug/netcoreapp3.0/ParseEdifact.csproj.FileListAbsolute.txt
/ParseEdifact/.vs/ParseEdifact/DesignTimeBuild
